# Dependencies
node_modules/

# Stencil build output
dist/
www/build/
www/
loader/

# Storybook output
storybook-static/

# Logs & cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
*~
*.sw[mnpcod]
*.log
*.lock
.pnpm-store/
.pnp.*
.cache/
.tmp/
*.tmp
*.tmp.*
.temp/
.vite/
coverage/
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

log.txt
.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
$RECYCLE.BIN/

Thumbs.db
UserInterfaceState.xcuserstate
.env
