@import '../badge/badge.scss';

// _btn-sizes.scss

$btn-sizes: (
  xs: (
    font: 0.625rem,
    height: 20px,
    min: 36px,
    padding: (
      0 8.8888888889px 2px,
    )
    // keep 3-value form,,,,,,,,
  ),
  sm: (
    font: 0.75rem,
    height: 28px,
    min: 32px,
    padding: (
      0 12.4444444444px,
    ),
  ),
  lg: (
    font: 1.2rem,
    height: 44px,
    min: 44px,
    padding: (
      0 19.5555555556px,
    ),
  ),
);

// why: centralize size tokens; easy to add/override
@mixin make-btn-size($name, $cfg, $prefix: '.btn-', $important: true) {
  #{$prefix}#{$name} {
    font-size: map-get($cfg, font) !important;
    height: map-get($cfg, height);
    min-width: map-get($cfg, min);
    $imp: if($important, ' !important', '');
    padding: #{map-get($cfg, padding)}#{$imp};
  }
}

// Generate .btn-xs / .btn-sm / .btn-lg
@each $name, $cfg in $btn-sizes {
  @include make-btn-size($name, $cfg);
}

// _btn-text-variants.scss

@mixin text-button-base($base-text: rgba(0, 0, 0, 0.87), $hover-bg: #e1e1e1) {
  .btn.text-btn,
  .btn.text,
  .btn.btn-icon {
    background-color: transparent;
    border: none;
    color: $base-text;
  }

  .btn.text-btn:hover,
  .btn.text:hover,
  .btn.btn-icon:hover {
    color: $base-text;
    background-color: $hover-bg;
  }
}

$btn-text-variants: (
  primary: (
    base: #2680eb,
    hover-bg: #146dd7,
    hover-border: #146dd7,
    hover-text: #f2f2f2,
    plain-hover: #146dd7,
  ),
  secondary: (
    base: #909090,
    hover-bg: #7d7d7d,
    hover-border: #7d7d7d,
    hover-text: #f2f2f2,
    plain-hover: #7d7d7d,
  ),
  tertiary: (
    base: #b9b9b9,
    hover-bg: #a6a6a6,
    hover-border: #a6a6a6,
    hover-text: #f2f2f2,
    plain-hover: #a6a6a6,
  ),
  success: (
    base: #2d9d78,
    hover-bg: #247f61,
    hover-border: #247f61,
    hover-text: #f2f2f2,
    plain-hover: #247f61,
  ),
  danger: (
    base: #e34850,
    hover-bg: #de2730,
    hover-border: #de2730,
    hover-text: #f2f2f2,
    plain-hover: #de2730,
  ),
  warning: (
    base: #e68619,
    hover-bg: #c47215,
    hover-border: #c47215,
    hover-text: #f2f2f2,
    plain-hover: #c47215,
  ),
  info: (
    base: #5aa9fa,
    hover-bg: #3596f9,
    hover-border: #3596f9,
    hover-text: #f2f2f2,
    plain-hover: #3596f9,
  ),
  light: (
    base: #f2f2f2,
    hover-bg: #dfdfdf,
    hover-border: #dfdfdf,
    hover-text: #1f1f1f,
    plain-hover: #dfdfdf,
  ),
  dark: (
    base: #323232,
    hover-bg: #505050,
    hover-border: #252525,
    hover-text: #f2f2f2,
    plain-hover: #505050,
  ),
  // NEW: neutral
  neutral:
    (
      base: #7a7a7a,
      hover-bg: #6a6a6a,
      hover-border: #6a6a6a,
      hover-text: #f2f2f2,
      plain-hover: #6a6a6a,
    ),
);

@mixin text-button-variant($name, $cfg) {
  $base: map-get($cfg, base);
  $hover-bg: map-get($cfg, hover-bg);
  $hover-border: map-get($cfg, hover-border);
  $hover-text: map-get($cfg, hover-text);
  $plain-hover: map-get($cfg, plain-hover);

  .btn.text-btn.btn-#{$name},
  .btn.text.btn-#{$name},
  .btn.btn-icon.btn-#{$name} {
    color: $base;
  }

  .btn.text-btn.btn-#{$name}:hover {
    color: $hover-text;
    background-color: $hover-bg;
    border-color: $hover-border;
  }

  .btn.text.btn-#{$name}:hover,
  .btn.btn-icon.btn-#{$name}:hover,
  .btn.text.btn-#{$name}:active,
  .btn.btn-icon.btn-#{$name}:active {
    color: $plain-hover;
    background: none;
    border: none;
  }
}

// Generate CSS
@include text-button-base();

@each $name, $cfg in $btn-text-variants {
  @include text-button-variant($name, $cfg);
}

.btn-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn-ripple {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.5s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 25%;
    height: 100%;
    width: 50%;
    background-color: #000;
    border-radius: 30%;
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 1s;
    transform: scale(5, 5);
  }

  &:active::after {
    padding: 0;
    margin: 0;
    opacity: 0.2;
    transition: 0s;
    transform: scale(0, 0);
  }
}

/* Button styles */
.btn {
  align-items: center;
  display: inline-flex !important;
  flex: 0 0 auto;
  letter-spacing: 0.0892857143em;
  justify-content: center;
  // outline: 0;
  position: relative;
}

// .btn:hover {
//   background-color: rgb(118, 118, 118);
//   color: #fff;
//   text-decoration: none;
// }

// .btn:before {
//   border-radius: inherit;
//   bottom: 0;
//   color: inherit;
//   content: '';
//   left: 0;
//   opacity: 0;
//   pointer-events: none;
//   position: absolute;
//   right: 0;
//   top: 0;
//   transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
// }

// .btn:hover:before {
//   opacity: 0.08;
// }

.btn-default {
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
  color: #212529 !important;

  &:hover {
    background-color: #767676 !important;
    border-color: #767676 !important;
    color: #fff !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem #767676;
  }

  &.active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-color: #767676;
    border-color: #767676;
    color: #ffffff;
  }
}

.btn-outline-default {
  background-color: transparent !important;
  border-color: #e7e7e7 !important;
  color: #212529 !important;

  &:hover {
    background-color: #767676 !important;
    border-color: #767676 !important;
    color: #ffffff !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem #767676 !important;
  }

  &.active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    border-color: #767676 !important;
    color: #fff !important;
  }
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #8e8e8e;
}

.btn:focus-visible,
.btn-default:focus-visible {
  // color: var(--bs-btn-hover-color);
  // background-color: var(--bs-btn-hover-bg);
  // border-color: var(--bs-btn-hover-border-color);
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem #8e8e8e !important;
}

.btn.stripped {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #333;
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;

  &:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    /* color: inherit !important; */
  }

  .btn--block {
    display: flex;
    flex: 1 0 auto;
    min-width: 100% !important;
    max-width: none;
  }
}

.btn__content {
  align-items: center;
  // color: inherit;
  display: flex;
  flex: 1 1 auto;
  justify-content: inherit;
  line-height: inherit;
  position: relative;
  transition: inherit;
  transition-property: opacity;
  width: 100%;
}

.btn.btn-active-blue {
  background-color: #909090 !important;
  border-color: #838383 !important;
  color: #252525;

  &.active,
  &:hover,
  &:active {
    background-color: #5aa9fa !important;
    color: #252525;
  }

  &.active {
    border-color: #419cf9;
  }
}

.btn.icon-btn.btn-active-blue.active {
  background-color: transparent;
  border-color: transparent;
  color: #419cf9;
}

.btn.size {
  align-items: center;
  border-radius: 0.25rem;
  display: inline-flex;
  font-size: 0.8333rem;
  font-weight: normal;
  height: 1.375rem;
  line-height: 1.2;
  margin: 0.125rem;
  padding: 0 0.5rem;
}

.btn.default,
.btn:not(.btn.circle).btn.default {
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
}

.btn.btn-icon {
  height: auto !important;
  min-width: 10px !important;
  padding: 0 4px !important;
}

.btn:not(.btn--outlined).accent,
.btn:not(.btn-outlined).danger,
.btn:not(.btn-outlined).info,
.btn:not(.btn-outlined).primary,
.btn:not(.btn-outlined).secondary,
.btn:not(.btn-outlined).success,
.btn:not(.btn-outlined).warning,
.btn:not(.btn-outlined).dark {
  color: #fff;
}

.btn.pill {
  border-radius: 28px;
}

.btn.square {
  border-radius: 0;
}

.btn.circle {
  border-radius: 50%;
}

.btn {
  padding: 5px 10px !important;

  icon-component {
    .fa-ellipsis-vertical {
      font-size: 1.5rem;
    }
    .fa-gear {
      font-size: 1.25rem;
    }
  }
}

.btn.icon-btn {
  font-size: 1rem;
  height: 36px;
  width: 36px;
}

.btn.fab,
.btn.icon-btn {
  min-height: 0;
  min-width: 0;
  padding: 0;
}

.btn.icon-btn.regular-icon:hover {
  background-color: transparent;
  color: #4b9cf5;
}

.btn.icon-btn.icon-lg {
  font-size: 0.875rem !important;
  height: 44px !important;
  width: 44px !important;
}

.btn.icon-btn.large > i {
  font-size: 1.5rem !important;
}

.btn.icon-btn.icon-sm {
  font-size: 0.75rem !important;
  height: 28px !important;
  width: 28px !important;
}

.btn.icon-btn.small > i {
  font-size: 1rem !important;
}

.btn.icon-btn.icon-xs {
  font-size: 0.75rem !important;
  height: 1.2rem !important;
  width: 1.2rem !important;
}

.btn.icon-btn.x-small > i {
  font-size: 0.6rem !important;
}

.btn-outlined {
  background-color: transparent;
  border: thin solid !important;

  &.accent {
    background-color: transparent;
    border-color: #2680eb;
    color: #2680eb;

    &:hover {
      background-color: #2680eb;
      border-color: #2680eb;
      color: #fff;
    }
  }
}

.btn.link {
  background-color: transparent;
  border: none;
  color: var(--bs-link-color) !important;
  text-decoration: underline;
  padding: 0;

  &:hover {
    background-color: transparent;
    color: #115bb4;
    text-decoration: none;
  }
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.65;
  pointer-events: none;
}

/* Button group styles */
.btn.btn-group-start {
  border-radius: 4px 0 0 4px;
}

.btn.btn-group-end {
  border-radius: 0 4px 4px 0;
}

.btn.btn-group-vertical-start {
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.btn.btn-group-vertical-end {
  border-radius: 0 0 4px 4px;
  width: 100%;
}

.btn.btn-group.btn-group__btn,
.btn.btn-group-vertical.btn-group__btn {
  border-radius: 0;
  width: 100%;
}
