form {
  margin: 0;
  padding: 0;
  width: 100%;
}

legend {
  padding: 0 10px;
}

legend.left {
  text-align: left;
}
legend.right {
  text-align: right;
}
legend.center {
  text-align: center;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
}
