<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stencil Component Starter</title>

    <script type="module" src="../../build/stencil-component-library.esm.js"></script>
    <script nomodule src="../../build/stencil-component-library.js"></script>

    <link rel="stylesheet" href="../../build/stencil-component-library.css" />

    <link rel="stylesheet" href="../../assets/mdi/materialdesignicons.min.css" />

    <style>
      .cwrapper {
        margin: 10px;
      }

      button {
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      .purple {
        background-color: purple !important;
        color: white !important;
      }
    </style>
  </head>
  <body>
    <!-- <my-component first="Stencil" middle="'Don't call me a framework'" last="JS"></my-component>
     -->
    <app-wrapper>
      <div class="cwrapper">
        <radio-input-component
          validation
          size="sm"
          basic-radio
          validation-msg="Must select"
          required
          input-id="radio1"
          name="radio1"
          label-txt="Radio 1"
          value="radio1"
        ></radio-input-component>

        <radio-input-component size="sm" input-id="radio2" basic-radio name="radio2" label-txt="Radio 2" value="radio2"></radio-input-component>

        <radio-input-component input-id="radio1a" size="sm" name="radio1a" label-txt="Regular Radio 1" value="radio1a"></radio-input-component>
        <radio-input-component input-id="radio2a" size="" name="radio2a" label-txt="Regular Radio 2" value="radio2a"></radio-input-component>
        <radio-input-component input-id="radio3a" size="lg" name="radio3a" label-txt="Regular Radio 3" value="radio3a"></radio-input-component>
        <br />

        <radio-input-component
          required
          validation
          disabled
          validation-msg="Must select one"
          inline
          bs-radio-group
          name="colors"
          group-title="Choose a color"
          group-title-size="sm"
          size="lg"
          group-options='[{"value":"red","labelTxt":"Red","inputId":"radio-red","checked":false,"disabled":false},{"value":"green","labelTxt":"Green","inputId":"radio-green","checked":false,"disabled":false},{"value":"blue","labelTxt":"Blue","inputId":"radio-blue","checked":false,"disabled":false}]'
        ></radio-input-component>


        <br />
        <radio-input-component
          required
          validation
          disabled
          validation-msg="Must select one"
          basic-radio-group
          inline
          name="colors"
          group-title="Choose a color"
          group-title-size="sm"
          size="sm"
          group-options='[{"value":"red","labelTxt":"Red","inputId":"radio-red","checked":false,"disabled":false},{"value":"green","labelTxt":"Green","inputId":"radio-green","checked":false,"disabled":false},{"value":"blue","labelTxt":"Blue","inputId":"radio-blue","checked":false,"disabled":false}]'
        ></radio-input-component>
        <br />
        <radio-input-component
          required
          disabled
          validation
          validation-msg="Must select one"
          basic-radio-group
          name="colors1"
          group-title="Choose a color"
          group-title-size="md"
          size="sm"
          group-options='[{"value":"red1","labelTxt":"Red","inputId":"radio-red1","checked":false,"disabled":false},{"value":"green1","labelTxt":"Green","inputId":"radio-green1","checked":false,"disabled":false},{"value":"blue1","labelTxt":"Blue","inputId":"radio-blue1","checked":false,"disabled":false}]'
        ></radio-input-component>
      </div>
    </app-wrapper>

    <script type="module"></script>
  </body>
</html>
