.mr-1 {
  margin-right: 0.25rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

i {
  font-size: 1rem;
  color: inherit;
  // display: block !important;
}

i.lg {
  font-size: 1.5rem;
}

i.default {
  font-size: 1.2rem;
}

i.sm {
  font-size: 0.75rem;
}

i.xs {
  font-size: 0.75rem;
}

.token-icon {
  font-size: inherit !important;
}


