.toggle-switch,
.ts-group {
  .custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  .custom-switch {
    padding-left: 2.25rem;
  }

  .custom-control-inline {
    align-items: center;
    // display: inline-flex;
    margin-right: 1rem;
  }

  .custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
  }

  .form-check-input {
    border-color: #BBBBBB ;
  }

  input[type='checkbox'],
  input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }

  label {
    display: inline-block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  .custom-control-label {
    padding-top: 1px;
    position: relative;
    margin-bottom: 0;
  }

  .custom-control-label:before {
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #adb5bd;
  }

  .custom-control-label:after,
  .custom-control-label:before {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: '';
  }

  .custom-control-label:before,
  .custom-file-label,
  .custom-select {
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .custom-switch .custom-control-label:before {
    left: -2.25rem;
    width: 1.75rem;
    pointer-events: all;
    border-radius: 0.5rem;
  }

  .custom-control-label:after,
  .custom-control-label:before {
    position: absolute;
    top: 0;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: '';
  }

  .custom-control-label:after {
    background: 50%/50% 50% no-repeat;
  }

  .custom-control-label .toggleTxt-bold {
    font-weight: bold;
  }

  .custom-switch .custom-control-label:after {
    // top: calc(0.25rem + 2px);
    top: 2px;
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    background-color: #adb5bd;
    border-radius: 0.5rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  }

  .custom-control-input:checked ~ .custom-control-label:before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
  }

  .custom-switch .custom-control-input:checked ~ .custom-control-label:after {
    background-color: #fff;
    -webkit-transform: translateX(0.75rem);
    transform: translateX(0.75rem);
  }

  .custom-control-input:disabled ~ .custom-control-label:before,
  .custom-control-input[disabled] ~ .custom-control-label:before {
    background-color: #cacaca;
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(38, 128, 235, 0.5);
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    border: 1px solid #8e8e8e;
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::after,
  .custom-control-input:disabled ~ .custom-control-label::after {
    background-color: #8e8e8e;
  }

  .custom-control-sm {
    padding-left: 1.96875rem;
  }

  .custom-control-sm .custom-control-label,
  .input-group-sm .custom-switch .custom-control-label {
    font-size: 0.75rem;
    line-height: 1.5;
    padding-top: 2px
  }

  .custom-control-sm .custom-control-label:before,
  .input-group-sm .custom-switch .custom-control-label:before {
    top: 0.21875rem;
    left: -1.96875rem;
    width: 1.53125rem;
    height: 0.875rem;
    border-radius: 0.4375rem;
  }

  .custom-control-sm .custom-control-label:after,
  .input-group-sm .custom-switch .custom-control-label:after {
    top: 0.35rem;
    left: calc(-1.96875rem + 2px);
    width: calc(0.875rem - 4px);
    height: calc(0.875rem - 4px);
    border-radius: 0.4375rem;
    background-size: 50% 50%;
  }

  .custom-control-lg,
  .input-group-lg .custom-switch {
    padding-left: 2.8125rem;
  }

  .custom-control-lg .custom-control-label,
  .input-group-lg .custom-switch .custom-control-label {
    font-size: 1rem;
    line-height: 1;
    padding-top: 0;
  }

  .custom-control-lg .custom-control-label:before,
  .input-group-lg .custom-switch .custom-control-label:before {
    top: 0;
    height: 1rem;
    left: -2.8125rem;
    width: 2rem;
    border-radius: 0.625rem;
  }

  .custom-control-lg .custom-control-input:checked ~ .custom-control-label::after {
    background-color: rgb(255, 255, 255);
    transform: translateX(0.95rem);
  }

  .custom-control-lg .custom-control-label:after,
  .input-group-lg .custom-switch .custom-control-label:after {
    top: calc(0.3125rem + 2px);
    // left: calc(-2.8125rem + 2px);
    left: calc(-2.8rem + 2px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    border-radius: 0.625rem;
    background-size: 50% 50%;
  }

  .custom-switch .invalid-feedback,
  .ts-inline.invalid-feedback {
    color: #b30009;
    display: block;
    margin-top: 0.05rem;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
  }

  .custom-switch .invalid {
    color: #b30009;
  }

  .custom-switch .invalid.custom-control-label:before {
    border-color: #b30009;
  }

  .no-focus-ring:focus {
    outline: none;
  }

  [tabindex='-1']:focus:not(:focus-visible) {
    outline: 0 !important;
  }

  /* .custom-control-input:focus + .custom-control-label {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  } */

  .keyboard-focused .custom-control-input:focus + .custom-control-label {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Example focus style */
  }
}
