.toggle-switch,
.ts-group {
  .custom-control {
    position: relative;
    z-index: 1;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  .custom-switch {
    padding-left: 2.25rem;
  }

  .custom-control-inline {
    align-items: center;
    display: inline-flex;
    margin-right: 1rem;
  }

  .custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
  }

  .form-check-input {
    border-color: var(--check-input-border-color);
  }

  input[type='checkbox'],
  input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }

  label {
    display: inline-block;
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  .custom-control-label {
    padding-top: 1px;
    position: relative;
    margin-bottom: 0;
  }

  .custom-control-label:before {
    pointer-events: none;
    background-color: var(--bs-form-check-bg);
    border: 1px solid var(--bs-gray-500);
  }

  .custom-control-label:after,
  .custom-control-label:before {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: '';
  }

  .custom-control-label:before,
  .custom-file-label,
  .custom-select {
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .custom-switch .custom-control-label:before {
    pointer-events: all;
    border-radius: 0.5rem;
  }

  // .custom-control-label:after,
  .custom-switch .custom-control-label:before {
    position: absolute;
    top: 4px;
    left: -2.25rem;
    display: block;
    width: 2rem;
    height: 1rem;
    content: '';
  }

  .custom-control-label:after {
    background: 50%/50% 50% no-repeat;
  }

  .custom-control-label .toggleTxt-bold {
    font-weight: bold;
  }

  .custom-switch .custom-control-label:after {
    // top: calc(0.25rem + 2px);
    top: 0.375rem !important;
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 0.25rem);
    height: calc(1rem - 0.25rem);
    background-color: var(--bs-custom-switch-bg-off);
    border-radius: 0.5rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  }

  .custom-control-input:checked ~ .custom-control-label:before {
    color: var(--bs-white);
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
  }

  .custom-switch .custom-control-input:checked ~ .custom-control-label:after {
    background-color: var(--bs-white);
    transform: translateX(0.98rem);
  }

  .custom-control-input:disabled ~ .custom-control-label:before,
  .custom-control-input[disabled] ~ .custom-control-label:before {
    background-color: var(--bs-custom-switch-bg-off-disabled);
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: var(--bs-custom-switch-bg-on-disabled);
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    border: 1px solid var(--bs-custom-switch-border-disabled);
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::after,
  .custom-control-input:disabled ~ .custom-control-label::after {
    background-color: var(--bs-custom-switch-bg-on);
  }

  .custom-control-sm {
    padding-left: 1.96875rem;
  }

  .custom-control-sm .custom-control-label,
  .input-group-sm .custom-switch .custom-control-label {
    font-size: 0.75rem;
    line-height: 1.5;
    padding-top: 0.125rem;
  }

  .custom-control-sm .custom-control-input:checked ~ .custom-control-label:after {
    background-color: var(--bs-white);
    transform: translateX(0.7rem);
  }

  .custom-control-sm .custom-control-label:before,
  .input-group-sm .custom-switch .custom-control-label:before {
    top: 0.21875rem;
    left: -1.96875rem;
    width: 1.53125rem;
    height: 0.875rem;
    border-radius: 0.4375rem;
  }

  .custom-control-sm .custom-control-label:after,
  .input-group-sm .custom-switch .custom-control-label:after {
    top: 5.75px !important;
    left: calc(-1.96875rem + 2px);
    width: calc(0.85rem - 4px);
    height: calc(0.85rem - 4px);
    border-radius: 0.4375rem;
    background-size: 50% 50%;
  }

  .custom-control-lg,
  .input-group-lg .custom-switch {
    padding-left: 2.75rem !important;
  }

  .custom-control-lg .custom-control-label,
  .input-group-lg .custom-switch .custom-control-label {
    font-size: 1rem;
    line-height: 1;
    padding-top: 0;
  }

  .custom-control-lg .custom-control-label:before,
  .input-group-lg .custom-switch .custom-control-label:before {
        top: 0;
    height: 1.20rem;
    left: -2.8125rem;
    width: 2.5rem;
    border-radius: 0.625rem;
  }

  .custom-control-lg .custom-control-input:checked ~ .custom-control-label::after {
    background-color: var(--bs-white);
    transform: translateX(1.35rem);
  }

  .custom-control-lg .custom-control-label:after,
  .input-group-lg .custom-switch .custom-control-label:after {
    top: 0.188rem !important;
    left: calc(-2.8rem + 0.125rem);
    width: calc(1.1rem - 0.25rem);
    height: calc(1.1rem - 0.25rem);
    border-radius: 0.625rem;
    background-size: 50% 50%;
  }

  .invalid-feedback {
    margin-top: 0.25rem;
  }

  .custom-switch .invalid-feedback {
    color: var(--bs-form-invalid-color);
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0;
    font-size: 0.75rem;
  }

  .ts-inline.invalid-feedback {
    color: var(--bs-form-invalid-color);
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0;
    font-size: 0.75rem;
  }

  .custom-switch .invalid {
    color: var(--bs-form-invalid-color);
  }

  .custom-switch .invalid.custom-control-label:before {
    border-color: var(--bs-form-invalid-color);
  }

  .no-focus-ring:focus {
    outline: none;
  }

  [tabindex='-1']:focus:not(:focus-visible) {
    outline: 0 !important;
  }

  /* .custom-control-input:focus + .custom-control-label {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  } */

  .keyboard-focused .custom-control-input:focus + .custom-control-label {
    box-shadow: 0 0 0 0.2rem var(--bs-custom-switch-focus-shadow); /* Example focus style */
  }
}
