.horizontal label,
.inline label {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  position: relative;
}

.horizontal label {
  &.align-right {
    justify-content: right;
  }
}

@media (max-width: 575px) {
  .row > * {
    flex-shrink: 1 !important;
  }

  .horizontal label {
    display: block;
    justify-content: left;
  }

  .horizontal label,
  .inline label {
    margin-bottom: 0.25rem !important;
  }
}

.horizontal .form-group .form-control-label.invalid,
.inline .form-group .form-control-label.invalid {
  position: relative;
}

.inline .form-group .form-control-label,
.inline .form-group label {
  margin-bottom: 0;
  white-space: nowrap;
}

.horizontal .form-group .form-control-label,
.horizontal .form-group label {
  margin-bottom: 0;
  white-space: normal;
}

.inline .form-group .form-control-label,
.inline .form-group label {
  padding: 0 0.5rem;
}

.invalid-feedback {
  display: block !important;
  font-size: 0.75rem !important;
}

.is-invalid ::placeholder {
  color: #b30009 !important;
}

:not(.is-invalid) ~ .invalid-feedback,
:not(.was-validated) ~ .invalid-feedback {
  display: none !important;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block !important;
}

.basic-input-sm {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.75rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
  min-height: 0px !important;
  max-height: 28px !important;
}

.basic-input-lg {
  padding: 0.5rem 0.5rem !important;
  font-size: 1.125rem !important;
  line-height: 1.5 !important;
  border-radius: 0.3rem !important;
}

.label-sm {
  font-size: 0.75rem !important;
}

.label-lg {
  font-size: 1.125rem !important;
}

.inline,
.horizontal {
  .form-control-label {
    align-items: start !important;
    padding-top: 7px !important;
  }

  .label-sm {
    align-items: start !important;
    padding-top: 5px !important;
  }

  .label-lg {
    align-items: start !important;
    padding-top: 9px !important;
  }

  .ac-multi-select-container .input-group .form-control {
    min-width: 240px;
  }
}
