*,
::after,
::before {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  -webkit-clip-path: none;
  clip-path: none;
}

// .required::after {
//   content: '*';
//   color: #b30009;
//   margin-left: 5px;
//   margin-left: 2px;
//   margin-top: -2px;
//   margin-right: 5px;

// }

.required {
  color: #b30009;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
}

legend {
  padding: 0 10px;
}

legend.left {
  text-align: left;
}

legend.right {
  text-align: right;
}

legend.center {
  text-align: center;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

input {
  overflow: visible;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

.position-static {
  position: static !important;
}

.form-group {
  padding: 5px 15px;
}

.form-group {
  margin-bottom: 0.25rem;
}

.form-group {
  text-align: left;
}

.horizontal .form-group {
  padding: 5px;
}

.no-pad {
  padding: 0 !important;
}

.form-toggle-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0px;
  margin-right: 0.75rem;
  height: 100%;
  padding-top: 6px;
  padding-bottom: 0;
}

.inline.row > * {
  width: auto !important;
}
