<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stencil Component Starter</title>

    <script type="module" src="../../build/stencil-component-library.esm.js"></script>
    <script nomodule src="../../build/stencil-component-library.js"></script>

    <link rel="stylesheet" href="../../build/stencil-component-library.css" />
    <link rel="stylesheet" href="../../assets/mdi/materialdesignicons.min.css" />
    <link rel="stylesheet" href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" />

    <style>
      .cwrapper {
        margin: 10px;
      }

      button {
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      .purple {
        background-color: purple !important;
        color: white !important;
      }
    </style>
  </head>
  <body>
    <app-wrapper>
      <div class="cwrapper">
        <form-component>
          <plumage-input-group-component
            slot="formField"
            input-id="pl-input-group-1"
            label="Test Label"
            label-size="xs"
            has-append
            has-prepend
            prepend-icon="fa-solid fa-dollar-sign"
            append-button
            append-text="Go"
            append-button-variant="secondary"
            append-id="pl-input-group-1-append-wrap"
            append-button-id="pl-input-group-1-append-btn"
            form-layout="horizontal"
            label-align="right"
          ></plumage-input-group-component>

          <plumage-input-group-component
            slot="formField"
            input-id="pl-input-group-3"
            label="Test Label"
            has-append
            has-prepend
            prepend-icon="fa-solid fa-dollar-sign"
            append-button
            append-text="Go"
            append-button-variant="secondary"
            append-button-type="button"
            append-aria-label="Run action"
            append-id="pl-input-group-3-append-wrap"
            append-button-id="pl-input-group-3-append-btn"
            form-layout="horizontal"
            label-align="right"
          ></plumage-input-group-component>

          <plumage-input-group-component
            slot="formField"
            input-id="pl-input-group-2"
            label="Test Label"
            size="lg"
            label-size="xs"
            has-append
            append-icon="fa-solid fa-dollar-sign"
            has-prepend
            prepend-icon="fa-solid fa-dollar-sign"
            form-layout="horizontal"
            label-align="right"
          ></plumage-input-group-component>

          <plumage-input-group-component
            slot="formField"
            input-id="pl-input-group-4"
            label="Code"
            has-prepend
            prepend-text="#"
            has-append
            append-text=".js"
            form-layout="horizontal"
            label-align="right"
          ></plumage-input-group-component>

          <plumage-input-group-component
            slot="formField"
            input-id="pl-input-group-5"
            label="Search"
            has-prepend
            prepend-button
            prepend-text="Go"
            prepend-button-variant="secondary"
            prepend-id="pl-input-group-5-prepend-wrap"
            prepend-button-id="pl-input-group-5-prepend-btn"
            has-append
            append-button
            append-text="Search"
            append-button-variant="primary"
            append-id="pl-input-group-5-append-wrap"
            append-button-id="pl-input-group-5-append-btn"
          ></plumage-input-group-component>

          <plumage-input-group-component
            slot="formField"
            input-id="pl-search"
            label="Search"
            plumage-search
          ></plumage-input-group-component>
        </form-component>
      </div>
    </app-wrapper>
  </body>
</html>
