// -------------------------------------------------
// Tokens
// -------------------------------------------------
$color-text: #495057;
$color-border: #ced4da;
$color-muted: #6c757d;
$color-danger: #b30009;
$focus-border: #80bdff;
$focus-glow: rgba(128, 189, 255, 0.5);

$label-sm: 0.875rem;
$label-default: 1rem;
$label-lg: 1.125rem;

$col-form-ptb: calc(0.375rem + 1px);

// arrows (Bootstrap-like) for custom-select
$down-caret-danger: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23b30009' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
$custom-caret: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");

// -------------------------------------------------
// Helpers
// -------------------------------------------------
@mixin placeholder-color($c) {
  &::-webkit-input-placeholder {
    color: $c;
  }
  &:-moz-placeholder {
    color: $c;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $c;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $c;
  }
  &::-ms-input-placeholder {
    color: $c;
  }
  &::placeholder {
    color: $c;
  }
}

// -------------------------------------------------
// Label sizing
// -------------------------------------------------
.label-sm {
  font-size: $label-sm !important;
}
.label-default {
  font-size: $label-default !important;
}
.label-lg {
  font-size: $label-lg !important;
}

// -------------------------------------------------
// Horizontal / Inline layout
// -------------------------------------------------
.horizontal {
  .form-group {
    padding: 5px;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 0;
    position: relative;

    &.align-right {
      justify-content: right;
    }
  }

  .form-group .form-control-label,
  .form-group label {
    margin-bottom: 0;
    white-space: normal;
  }
}

.inline {
  label {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 0;
    position: relative;
  }

  .form-group .form-control-label,
  .form-group label {
    margin-bottom: 0;
    white-space: nowrap;
    padding: 0 0.5rem;
  }
}

// Adjust invalid label spacing within horizontal/inline
.horizontal .form-group .form-control-label.invalid,
.inline .form-group .form-control-label.invalid {
  position: relative;
  align-items: normal;
  padding-top: 12px;
}

// Bootstrap col-form-label base
.col-form-label {
  padding-top: $col-form-ptb;
  padding-bottom: $col-form-ptb;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

// Align by size in inline/horizontal
.inline,
.horizontal {
  .form-control-label {
    align-items: start !important;
    padding-top: 6px !important;
  }
  .label-sm {
    align-items: start !important;
    padding-top: 5px !important;
  }
  .label-default {
    align-items: start !important;
    padding-top: 7px !important;
  }
  .label-lg {
    align-items: start !important;
    padding-top: 9px !important;
  }
}

// -------------------------------------------------
// Custom select (Bootstrap-like)
// -------------------------------------------------
.custom-select {
  display: inline-block;
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: $color-text;
  vertical-align: middle;
  background: #fff $custom-caret no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid $color-border;
  border-radius: 0.25rem;
  appearance: none;

  &:focus {
    border-color: $focus-border;
    outline: 0;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%), 0 0 5px $focus-glow;
  }

  &[multiple],
  &[size]:not([size='1']) {
    height: auto;
    padding-right: 0.75rem;
    background-image: none;
  }

  &:disabled {
    color: $color-muted;
    background-color: #e9ecef;
  }

  // Hide IE11 caret
  &::-ms-expand {
    opacity: 0;
  }
}

// -------------------------------------------------
// Validation feedback + state
// -------------------------------------------------
.invalid-feedback {
  color: $color-danger;
  margin-top: 0.25rem;
  font-size: 0.75rem;
}

.invalid {
  color: $color-danger;
}

// Border + caret color in invalid state
.form-select:invalid,
.form-select.is-invalid,
.custom-select:invalid,
.custom-select.is-invalid {
  border-color: $color-danger;
  color: $color-danger;
  fill: $color-danger;
  background-image: $down-caret-danger !important;
}

// Red placeholders while invalid
.form-select.is-invalid,
.custom-select.is-invalid {
  @include placeholder-color($color-danger);
}

// Options inherit red text on invalid
.form-select.is-invalid option,
.custom-select.is-invalid option {
  color: $color-danger;
  background-color: transparent;
}

// Remove background arrow/extra padding for lists (multi or tall)
.form-select.is-invalid[multiple],
.form-select.is-invalid[size]:not([size='1']):first-child,
.custom-select.is-invalid[multiple],
.custom-select.is-invalid[size]:not([size='1']):first-child {
  background-image: none !important;
  background-color: transparent !important;
  padding-right: 0 !important;
}

// Base lists (multi/tall) never show the caret image
.form-select[multiple],
.form-select[size]:not([size='1']),
.custom-select[multiple],
.custom-select[size]:not([size='1']) {
  padding-right: 0 !important;
  background-image: none;
}

// Red text color for invalid single selects (Bootstrap parity)
.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size='1'],
.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size='1'] {
  color: $color-danger;
}
