// /* BS 5 Input Group Styling */
// .input-group > .input-group-btn {
//   display: flex;
//   align-items: center;
//   cursor: pointer;
//   padding: 0.275rem 0.25rem;
//   margin-bottom: 0;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.5;
//   text-align: center;
//   white-space: nowrap;
//   border: 1px solid #ced4da;
//   border-radius: 0.25rem;
//   background-color: transparent;
//   height: 100%;
// }

// .input-group > .input-group-btn {
//   min-height: 36px;
// }

// .input-group.sm > .input-group-btn {
//   min-height: 28px;
// }

// .input-group.lg .input-group-btn {
//   min-height: 46px;
// }

// .input-group .input-group-btn svg {
//   height: 1rem;
//   width: 1rem;
// }

// .input-group .input-group-btn,
// .input-group .input-group-btn svg {
//   color: #999999;
//   fill: #999999;
// }

// .input-group .input-group-btn.clear svg:hover {
//   color: #b80000;
//   fill: #b80000;
//   outline: none;
// }

// .input-group .input-group-btn.clear svg:focus-visible {
//   color: #b80000;
//   fill: #b80000;
//   outline: 1px solid #b80000;
// }

// .input-group.is-invalid > .input-group-btn.add,
// .input-group.is-invalid > .input-group-btn.clear {
//   color: #b30009;
//   border-color: #b30009;
// }

// .input-group.is-invalid > .input-group-btn.add svg,
// .input-group.is-invalid > .input-group-btn.clear svg {
//   color: #b30009;
//   fill: #b30009;
// }

// .input-group .input-group-btn.add,
// .input-group .input-group-btn.add svg {
//   color: #006108;
//   fill: #006108;
// }

// .input-group .input-group-btn.add i:hover,
// .input-group .input-group-btn.add svg:hover {
//   color: #008f0c;
//   fill: #008f0c;
//   outline: none;
// }

// .input-group .input-group-btn.add i:focus-visible,
// .input-group .input-group-btn.add svg:focus-visible {
//   color: #008f0c;
//   fill: #008f0c;
//   outline: 1px solid #008f0c;
// }

// .input-group.is-invalid > .input-group-btn.add {
//   color: #b30009;
//   border-color: #b30009;
// }

// .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
//   margin-left: 0;

//   &:focus-visible {
//     // border-color: #b80000;
//     // box-shadow: 0 0 0 0.2rem rgba(184, 0, 0, 0.25);
//     outline: none;

//     svg {
//       fill: #b80000;
//     }

//     i {
//       color: #b80000;
//     }
//   }
// }

// /* BS 4 Input Group Styling */

// .input-group {
//   position: relative;
//   display: flex;
//   flex-wrap: wrap;
//   align-items: stretch;
//   width: 100%;
// }

// .input-group-append,
// .input-group-prepend {
//   display: flex;
//   height: 100%;
// }

// .input-group-prepend {
//   margin-right: -1px;
// }

// .input-group-append,
// .input-group-prepend {
//   display: flex;
// }

// .input-group-append {
//   margin-left: -1px !important;
// }

// .input-group-text {
//   display: flex;
//   align-items: center;
//   padding: 0.375rem 0.75rem;
//   margin-bottom: 0;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.5;
//   color: #495057;
//   text-align: center;
//   white-space: nowrap;
//   background-color: #e9ecef;
//   border: 1px solid #ced4da;
//   border-radius: 0.25rem;

//   min-height: 38px;
// }

// .input-group-btn {
//   display: flex;
//   align-items: center;
//   cursor: pointer;
//   padding: 0.275rem 0.75rem;
//   margin-bottom: 0;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.5;
//   text-align: center;
//   white-space: nowrap;
//   border-top: 1px solid #ced4da;
//   border-bottom: 1px solid #ced4da;
//   border-right: none;
//   border-left: none;
//   border-radius: 0.25rem;
//   background-color: transparent;
//   height: 100%;
// }

// .input-group > .input-group-append:not(:last-child) > .input-group-text {
//   border-left: none;
//   border-right: none;
// }

// .input-group > .input-group-append:last-child > .input-group-btn {
//   border-right: 1px solid #ced4da;
//   border-left: none;
//   min-height: 35px;
// }

// .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
// .input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
// .input-group > .input-group-append:last-child > .input-group-btn:not(:last-child),
// .input-group > .input-group-append:not(:last-child) > .btn,
// .input-group > .input-group-append:not(:last-child) > .input-group-text,
// .input-group > .input-group-append:not(:last-child) > .input-group-btn,
// .input-group > .input-group-prepend > .btn,
// .input-group > .input-group-prepend > .input-group-text,
// .input-group > .input-group-prepend > .input-group-btn {
//   border-top-right-radius: 0;
//   border-bottom-right-radius: 0;
// }

// .input-group > .input-group-append > .btn,
// .input-group > .input-group-append > .input-group-text,
// .input-group > .input-group-prepend:first-child > .btn:not(:first-child),
// .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
// .input-group > .input-group-prepend:not(:first-child) > .btn,
// .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
//   border-top-left-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .input-group > .custom-file,
// .input-group > .custom-select,
// .input-group > .form-control {
//   position: relative;
//   flex: 1 1 auto;
//   width: 1%;
//   margin-bottom: 0;
//   padding: 0.275rem 0.75rem;
// }

// .input-group > .custom-select:not(:first-child),
// .input-group > .form-control:not(:first-child) {
//   border-top-left-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .input-group > .custom-select:not(:last-child),
// .input-group > .form-control:not(:last-child) {
//   border-top-right-radius: 0;
//   border-bottom-right-radius: 0;
// }

// .input-group-sm > .custom-select:not(:first-child),
// .input-group-sm > .form-control:not(:first-child) {
//   border-top-left-radius: 0 !important;
//   border-bottom-left-radius: 0 !important;
// }

// .input-group-sm > .custom-select:not(:last-child),
// .input-group-sm > .form-control:not(:last-child) {
//   border-top-right-radius: 0 !important;
//   border-bottom-right-radius: 0 !important;
// }

// .input-group-sm > .custom-select,
// .input-group-sm > .form-control,
// .input-group-sm > .input-group-append > .btn,
// .input-group-sm > .input-group-append > .input-group-text,
// .input-group-sm > .input-group-prepend > .btn,
// .input-group-sm > .input-group-prepend > .input-group-text {
//   padding: 0.15rem 0.5rem;
//   font-size: 0.875rem;
//   line-height: 1.5;
//   border-radius: 0.2rem;
//   min-height: 0;
// }

// .input-group-sm > .custom-select,
// .input-group-sm > .form-control:not(textarea) {
//   height: calc(1em + 0.5rem + 6px) !important;
// }

// .input-group-sm > .input-group-prepend,
// .input-group-sm > .input-group-append {
//   height: calc(1.5em + 0.188rem + 1px);
// }

// .input-group-sm:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
// .input-group-sm:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
// .input-group-sm:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
// .input-group-sm:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
//   border-top-left-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .input-group-sm > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
//   border-top-left-radius: 0 !important;
//   border-bottom-left-radius: 0 !important;
// }

// .input-group-sm > .custom-select,
// .input-group-sm > .form-control,
// .input-group-sm > .input-group-append > .btn,
// .input-group-sm > .input-group-append > .input-group-text,
// .input-group-sm > .input-group-prepend > .btn,
// .input-group-sm > .input-group-prepend > .input-group-text {
//   padding: 0.25rem 0.5rem !important;
//   border-top-left-radius: 0 !important;
//   border-bottom-left-radius: 0 !important;
// }

// .input-group-sm>.custom-select, .input-group-sm>.form-control:not(textarea) {
//     height: calc(1.25rem + 0.5rem + 0px);
// }

// .input-group-sm .input-group-append .btn,
// .input-group-sm .input-group-append {
//   border-top-left-radius: 0 !important;
//   border-bottom-left-radius: 0 !important;
// }

// .input-group-sm .input-group-prepend .btn,
// .input-group-sm .input-group-prepend {
//   border-top-right-radius: 0 !important;
//   border-bottom-right-radius: 0 !important;
// }


// .input-group-lg > .custom-select,
// .input-group-lg > .form-control,
// .input-group-lg > .input-group-append > .btn,
// .input-group-lg > .input-group-append > .input-group-text,
// .input-group-lg > .input-group-prepend > .btn,
// .input-group-lg > .input-group-prepend > .input-group-text {
//   padding: 0.5rem 1rem;
//   font-size: 1.125rem;
//   line-height: 1.5;
//    border-top-left-radius: 0 !important;
//   border-bottom-left-radius: 0 !important;
// }

// .input-group-lg > .custom-select,
// .input-group-lg > .form-control:not(textarea) {
//   height: calc(1.5em + 1rem + 2px) !important;
//   padding: 0.5rem 0 0.5rem 0.5rem !important;
// }

// .input-group-lg > .input-group-prepend,
// .input-group-lg > .input-group-append {
//   height: calc(1.5em + 1.3rem + 3px);
// }

// .input-group > .input-group-append > .input-group-text {
//   border-top-left-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .input-group > .input-group-prepend > .input-group-text {
//   border-top-right-radius: 0;
//   border-bottom-right-radius: 0;
// }

// .horizontal .form-input-group-basic label,
// .inline .form-input-group-basic label {
//   display: flex;
//   align-items: center;
//   font-size: 0.8333rem;
//   margin-bottom: 0 !important;
//   padding-right: 8px !important;
// }

// .horizontal .input-group,
// .inline .input-group {
//   padding: 0;
// }

// .form-input-group-basic label {
//   margin-bottom: 0.25rem !important;
// }

// .form-control {
//   border: 1px solid #ced4da;
//   border-radius: 0.25rem;
// }

// .input-group-prepend.is-invalid > .input-group-text,
// .input-group-append.is-invalid > .input-group-text {
//   color: #b30009;
//   border-color: #b30009;
// }

// /* .form-control:invalid,
//   .form-control.is-invalid {
//     border-color: #b30009;
//     padding-right: calc(1.5em + 0.75rem);
//     background-repeat: no-repeat;
//     background-position: right calc(-1em + 1.5rem) center;
//     background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
//      background-image: url(
//   "data:image/svg+xml,%3csvgxmlns='http://www.w3.org/2000/svg'fill='%23e34850'viewBox='0 0 24 24'%3e%3cpathd='M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10S2 17.514 2 12 6.486 2 12 2zm0 18c4.411 0 8-3.589 8-8s-3.589-8-8-8-8 3.589-8 8 3.589 8 8 8z'/%3e%3cpathd='M13 7h-2v6h2V7zm0 8h-2v2h2v-2z'/%3e%3c/svg%3e"
// );

//   }*/

// // .invalid {
// //   color: #b30009;
// // }



// .input-group-sm {
//   .form-control {
//     line-height: 1.4;
//   }

//   .btn-sm {
//     height: 100% !important;
//   }
// }

// .input-group-lg {
//   .form-control {
//     line-height: 1.8;
//   }

//   .btn-lg {
//     height: 100% !important;
//   }
// }

.input-group-text.is-invalid {
  border-color: var(--bs-form-invalid-border-color);
  color: #b30009;
}

.input-group.is-invalid {
  .btn {
    border-color: var(--bs-form-invalid-border-color);
  }
}

.input-group {
  .btn {
    height: 100%;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0.375rem;
      border-bottom-left-radius: 0.375rem;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;
    }
  }

  &.input-group-sm {
    .btn:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    .btn:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.input-group-lg {
    .btn:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    .btn:last-child {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
