/* accordion.scss */
/* Wrapper scope: put this on a parent element around your accordion */
.sc-accordion {
  .accordion-wrapper {
    text-align: left;
    overflow-anchor: none;
  }

  .accordion-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: left;
  }

  .accordion-item {
    padding-right: 1px;

    h6,
    .h6,
    h5,
    .h5,
    h4,
    .h4,
    h3,
    .h3,
    h2,
    .h2,
    h1,
    .h1 {
      line-height: 0;
    }

    &:first-of-type {
      .accordion-button:not(.collapsed) {
        border-top-left-radius: var(--bs-accordion-inner-border-radius);
        border-top-right-radius: var(--bs-accordion-inner-border-radius);
        color: var(--bs-accordion-active-color);
        background-color: var(--bs-accordion-active-bg);
        box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
      }
    }
  }

  .accordion-button {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    border-radius: 0;

    &::after {
      width: 0;
      height: 0;
      content: '';
      background-image: none;
    }

    &:not(.collapsed) {
      .accordion-icon {
        color: var(--bs-accordion-color);
      }

      &.single {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .accordion-flush {
    .accordion-item {
      .accordion-button,
      &:first-of-type .accordion-button:not(.collapsed) {
        border-radius: 0;
      }
    }
  }

  .accordion-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .accordion-body {
    &.text-large {
      font-size: 1.25rem;
    }
    &.text-default {
      font-size: 1rem;
    }
    &.text-small {
      font-size: 0.875rem;
    }
    &.text-xsmall {
      font-size: 0.75rem;
    }
    &.text-xlarge {
      font-size: 1.5rem;
    }
    &.text-xxlarge {
      font-size: 2rem;
    }
  }

  .accordion-card {
    position: relative;
    margin: 5px 0;
    min-width: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .accordion {
    .accordion-card {
      border-radius: 0;
      margin: 0;
    }
  }
}
