.btn-group,
.btn-group-vertical {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.btn-group-vertical.btn,
.btn-group.btn {
  position: relative;
  flex: 1 1 auto;
}

.btn-group-vertical button-component {
  width: 100%;
}



