<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stencil Component Starter</title>

    <script type="module" src="../../build/stencil-component-library.esm.js"></script>
    <script nomodule src="../../build/stencil-component-library.js"></script>

    <link rel="stylesheet" href="../../build/stencil-component-library.css" />

    <link rel="stylesheet" href="../../assets/mdi/materialdesignicons.min.css" />

    <style>
      .cwrapper {
        margin: 10px;
      }

      button {
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      .purple {
        background-color: purple !important;
        color: white !important;
      }
    </style>
  </head>
  <body>
    <!-- <my-component first="Stencil" middle="'Don't call me a framework'" last="JS"></my-component>
     -->
    <app-wrapper>
      <div class="cwrapper">
        <slider-manager-component type="basic" label="Range:" min="0" max="100"></slider-manager-component>
        <br /><br />
        <basic-slider-component hide-text-boxes slider-thumb-label variant="primary" plumage value="30" min="0" max="100" unit="%"></basic-slider-component>

        <discrete-slider-component label="Size" selected-index="2" string-values='["XS","S","M","L","XL"]' tick-labels></discrete-slider-component>

        <multi-range-slider-component
          label="Price range"
          lower-value="10"
          upper-value="60"
          min="0"
          max="100"
          unit="$"
          snap-to-ticks
          tick-values="[0,10,20,30,40,50,60,70,80,90,100]"
        ></multi-range-slider-component>

        <hr />

        <slider-manager-component
          type="multi"
          label="Distance"
          lower-value="2"
          upper-value="8"
          min="0"
          max="10"
          unit="mi"
          variant="danger"
          snap-to-ticks
          tick-values="[0,2,4,6,8,10]"
          slider-thumb-label
        ></slider-manager-component>
      </div>
    </app-wrapper>

    <script type="module"></script>
  </body>
</html>
